.app-dashboart{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://fondosmil.com/fondo/66762.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
