<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">
            Lista de Reportes
          </h2>
        </div>
        <div class="card-body">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte1()">
              Mejor Cliente
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte2()">
              Mejor Trabajador
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte3()">
              Estados de Reserva
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte4()">
              Control de Reservas
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte5()">
              Flujo de caja
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte6()">
              Reservas y flujo de hoy
            </button>
          </div>
          <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte1()">
              Reporte 7
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte1()">
              Reporte 8
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 casilleros p-1">
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-pill" (click)="reporte1()">
              Reporte 9
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
