<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            Horario Disponible
          </h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>  </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of horariofiltrado">
                <td>{{obj.hora.Horainicio}}</td>
                <td>{{obj.hora.Horafin}}</td>
                <td>
                  <button (click)="seleccionar(obj.id)" type="button" class="btn btn-pill btn-block btn-info">
                    Elejir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            Horario Elegidos
          </h4>
        </div>
        <div class="card-body">
          <h6>Total a Pagar: s/.  {{pago}}.00   </h6>
          <table class="table">
            <thead>
              <tr>
                <th>Desde</th>
                <th>Hasta</th>
                <th>  </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of seleccionados">
                <td>{{obj.hora.Horainicio}}</td>
                <td>{{obj.hora.Horafin}}</td>
                <td>
                  <button (click)="borrar(obj)" type="button" class="btn btn-pill btn-block btn-danger">
                    Borrar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-transparent border-success">
          <button *ngIf="check" (click)="reservar()" type="button" class="btn btn-pill btn-block btn-success">
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
