<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">
            Reservas de Hoy
          </h1>
        </div>
        <div class="card-body">
          <div class="container" id="repo6parte1">
            <div class="row">
              <div id="repo6" class="col-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Estado</th>
                      <th>Pago</th>
                      <th>Cliente</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of reservasdehoy">
                      <td>{{obj.estado}}</td>
                      <td>{{obj.pago}}</td>
                      <td>{{obj.datos}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="onPrint()">
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">
            Reservas Hechas hoy
          </h1>
        </div>
        <div class="card-body">
          <div class="container" id="repo6parte2">
            <div class="row">
              <div id="repo6part2" class="col-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Estado</th>
                      <th>Pago</th>
                      <th>Cliente</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of reservashechashoy">
                      <td>{{obj.estado}}</td>
                      <td>{{obj.pago}}</td>
                      <td>{{obj.datos}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <h2>Total:  </h2>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="onPrint2()">
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
