<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>
            La Reserva
          </h2>
        </div>
        <div class="card-body">
          <form id="formSearch" class="was-validated" name="formSearch">
            <div class="form-group">
              <label class="form-col-form-label" for="dato">
                <strong>
                  Codigo
                </strong>
              </label>
              <input type="text" class="form-control" id="dato" name="dato" [(ngModel)]="dato" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="buscar(dato)">
                buscar
              </button>
            </div>
          </form>
          <br>
          <br>
          <div *ngIf="sebusco" class="col-12 shadow p-5 mb-2 bg-white rounded rounded-lg border border-light fondo">
            <div class="col-12 contenido oscuro">
              <div class="col-12">
                <div class="col-12 col-lg-3 casillero">
                    Codigo: {{ticket.id}}
                </div>
                <div class="col-12 col-lg-9 casillero">
                  Fecha Reserva: {{ticket.FechaReserva | date: 'dd-MM-yyyy'}}
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-6">
                  Cliente: {{ticket.cliente.Fullname}}
                </div>
                <div class="col-6">
                  Pago: S/. {{ticket.Pago}}.00
                </div>
              </div>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-3" *ngFor="let item of lositems">
                    <div class="card">
                      <div class="card-header">
                        {{item.horario.hora.Horainicio}} - {{item.horario.hora.Horafin}}
                      </div>
                      <div class="card-body">
                        <i class="far fa-clock fa-3x"></i>
                      </div>
                      <div class="card-footer">
                        <button (click)="atender(item.id)" type="button" class="btn btn-pill btn-block btn-success">
                          Atender
                        </button>
                      </div>
                    </div>
                    <h6>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

