<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            Fecha de Reserva
          </h4>
        </div>
        <div class="card-body">
          <form class="was-validated">
            <div class="form-group">
              <label class="form-col-form-label" for="fecha">
                <strong>
                  Fecha de Reserva
                </strong>
              </label>
              <input type="date" class="form-control" id="fecha" name="fecha" [min]="fechaActual" [(ngModel)]="fecha" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div>
              <button (click)="validar(fecha)" type="button" class="btn btn-pill btn-block btn-info">
                Validar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            CLiente
          </h4>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="botones">
            <div class="col-lg-6 campo p-1">
              <button (click)="buscarcliente()" type="button" class="btn btn-outline-info btn-lg btn-block btn-pill">
                Buscar
              </button>
            </div>
            <div class="col-lg-6 campo p-1">
              <button (click)="crearcliente()" type="button" class="btn btn-outline-info btn-lg btn-block btn-pill">
                Crear
              </button>
            </div>
          </div>
          <div class="col-12" *ngIf="buscar">
            <form id="formSearchCliente" class="was-validated" name="formSearchCliente">
              <div class="form-group">
                <label class="form-col-form-label" for="Fullname">
                  <strong>
                    Poner el numero de documento o correo
                  </strong>
                </label>
                <input type="text" class="form-control" id="Fullname" name="Fullname" [(ngModel)]="dato" required>
                <div class="valid-feedback">
                  Campo rellenado.
                </div>
                <div class="invalid-feedback">
                  Por favor rellene el campo.
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-12 campo">
                  <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="searchEmailCliente()">
                    Por Correo
                  </button>
                </div>
                <div class="col-lg-6 col-12 campo">
                  <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="searchDocCliente()">
                    Documento
                  </button>
                </div>
              </div>
              <br>
            </form>
          </div>
          <div class="col-12" *ngIf="crear">
            <form id="formNewCliente" class="was-validated" name="formNewCliente">
              <div class="form-group">
                <label class="form-col-form-label" for="Fullname">
                  <strong>
                    Apellidos y Nombres
                  </strong>
                </label>
                <input type="text" class="form-control" id="Fullname" name="Fullname" [(ngModel)]="cliente.Fullname" required>
                <div class="valid-feedback">
                  Campo rellenado.
                </div>
                <div class="invalid-feedback">
                  Por favor rellene el campo.
                </div>
              </div>
              <div class="form-group">
                <label class="form-col-form-label" for="Numerodocumento">
                  <strong>
                    Numero de documento
                  </strong>
                </label>
                <input type="text" class="form-control" id="Numerodocumento" name="Numerodocumento" [(ngModel)]="cliente.Numerodocumento" required>
                <div class="valid-feedback">
                  Campo rellenado.
                </div>
                <div class="invalid-feedback">
                  Por favor rellene el campo.
                </div>
              </div>
              <div class="form-group">
                <label class="form-col-form-label" for="Genero">
                  <strong>
                    Genero
                  </strong>
                </label>
                <select name="Genero" id="Genero" class="form-control" (change)="cambiarimagen($event.target.value)">
                  <option value="" disabled>
                    Seleccione un Genero
                  </option>
                  <option *ngFor="let obj of genero" [value]="obj.name">
                      {{obj.name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-col-form-label" for="Correo">
                  <strong>
                    Correo
                  </strong>
                </label>
                <input type="email" class="form-control" id="Correo" name="Correo" [(ngModel)]="cliente.Email" required>
                <div class="valid-feedback">
                  Campo rellenado.
                </div>
                <div class="invalid-feedback">
                  Por favor rellene el campo.
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="saveCliente()">
                  Agregar
                </button>
              </div>
            </form>
          </div>
          <div class="col-12" *ngIf="datoscliente">
            <div>
              <h4 class="text-center">
                Datos:
              </h4>
            </div>
            <div class="text-center">
              <h3>
                Apellidos y Nombres:
              </h3>
              <h3>
                {{cliente1.Fullname}}
              </h3>
              <h3>
                Correo:
              </h3>
              <h3>
                {{cliente1.Email}}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            Total y Adelanto
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12" *ngIf="!validado">
              <h4>
                Por favor validar la fecha
              </h4>
            </div>
            <div class="col-12" *ngIf="novalido">
              <h4>
                Por favor validar una fecha que este libre
              </h4>
            </div>
            <div class="col-12" *ngIf="!novalido && validado">
              <form id="formNewCliente" class="was-validated" name="formNewCliente">
                <div class="form-group">
                  <label class="form-col-form-label" for="pago1">
                    <strong>
                      Pago
                    </strong>
                  </label>
                  <input type="text" class="form-control" id="pago1" name="pago1" [(ngModel)]="parametros.pago1" required>
                  <div class="valid-feedback">
                    Campo rellenado.
                  </div>
                  <div class="invalid-feedback">
                    Por favor rellene el campo.
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-col-form-label" for="pago2">
                    <strong>
                      Total
                    </strong>
                  </label>
                  <input type="text" class="form-control" id="pago2" name="pago2" [(ngModel)]="parametros.pago2" required>
                  <div class="valid-feedback">
                    Campo rellenado.
                  </div>
                  <div class="invalid-feedback">
                    Por favor rellene el campo.
                  </div>
                </div>
                <div>
                  <button (click)="reservar(fecha, parametros.pago1, parametros.pago2)" type="button" class="btn btn-pill btn-block btn-info">
                    Reservar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="verboleta">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            La Boleta
          </h4>
        </div>
        <div class="card-body">
          <div class="col-12 contenido oscuro">
            <div class="col-12">
              <div class="col-12 col-lg-3">
                  Codigo: {{ticket.id}}
              </div>
              <div class="col-12 col-lg-9">
                Estado: {{ticket.Estado}}
              </div>
            </div>
            <br>
            <div class="col-12">
              Cliente: {{ticket.cliente.Fullname}}
            </div>
            <br>
            <div class="col-12">
              Fecha Reserva: {{ticket.FechaReservaLocal | date: 'dd-MM-yyyy'}}
            </div>
            <br>
            <div class="col-12">
              <div class="col-12">
                Pago: S/. {{ticket.Pago}}.00
              </div>
              <div class="col-12">
                Total: S/. {{ticket.Total}}.00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
